{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
<link rel="apple-touch-icon" sizes="180x180" href="https://raw.githubusercontent.com/fatih-yavuz/links.dev/main/common/logo-assets/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="https://raw.githubusercontent.com/fatih-yavuz/links.dev/main/common/logo-assets/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="https://raw.githubusercontent.com/fatih-yavuz/links.dev/main/common/logo-assets/favicon-16x16.png">
<link rel="manifest" href="https://raw.githubusercontent.com/fatih-yavuz/links.dev/main/common/logo-assets/site.webmanifest">
<link rel="mask-icon" href="https://raw.githubusercontent.com/fatih-yavuz/links.dev/main/common/logo-assets/safari-pinned-tab.svg" color="#5bbad5">
<link rel="shortcut icon" href="https://raw.githubusercontent.com/fatih-yavuz/links.dev/main/common/logo-assets/favicon.ico">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="msapplication-config" content="https://raw.githubusercontent.com/fatih-yavuz/links.dev/main/common/logo-assets/browserconfig.xml">
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;500;600;700&amp;display=swap" rel="stylesheet"/>
<link href="https://fonts.googleapis.com/css2?family=Karla:wght@300;500;600;700&amp;display=swap" rel="stylesheet"/>
<link href="https://links.dev/cdn?path=/fatih-yavuz/links.dev/main/user-page/css/icons.css" rel="stylesheet"/>
{% block extra_head %} {% endblock %}
</head>
<body>
<div id="root-container">
    <div class="ld-background-base">
        <div class="page-container">
            {% block content %}<h3>This will be replaced</h3>{% endblock content %}
        </div>
    </div>
</div>
{% block extra_body %}
{% endblock %}
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-Q1CDVXBL8D"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-Q1CDVXBL8D');
</script>
</body>
</html>
